In [26]:
import pandas as pd
import csv

with open("loans.csv", encoding="utf-8-sig") as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        print(row)

['1', 'industrial', '34', '2.96', 'repaid']
['2', 'professional', '41', '4.64', 'default']
['3', 'professional', '36', '3.22', 'default']
['4', 'professional', '41', '3.11', 'default']
['5', 'industrial', '48', '3.8', 'default']
['6', 'industrial', '61', '2.52', 'repaid']
['7', 'professional', '37', '1.5', 'repaid']
['8', 'professional', '40', '1.93', 'repaid']
['9', 'industrial', '33', '5.25', 'default']
['10', 'industrial', '32', '4.15', 'default']

In [27]:
with open("loans.csv", encoding="utf-8-sig") as csvfile:
    reader = csv.reader(csvfile)
    youngest = min(reader, key=lambda x: x[2])
    print(youngest[2], youngest[4])

32 default

In [19]:
loans = pd.read_csv('loans.csv', header = None)
loans

    0             1   2     3        4
0   1    industrial  34  2.96   repaid
1   2  professional  41  4.64  default
2   3  professional  36  3.22  default
3   4  professional  41  3.11  default
4   5    industrial  48  3.80  default
5   6    industrial  61  2.52   repaid
6   7  professional  37  1.50   repaid
7   8  professional  40  1.93   repaid
8   9    industrial  33  5.25  default
9  10    industrial  32  4.15  default

In [22]:
loans[2]

0    34
1    41
2    36
3    41
4    48
5    61
6    37
7    40
8    33
9    32
Name: 2, dtype: int64

In [23]:
loans[2][5]

61